<%if !@Results.blank?%>
	<br />
	<br />
	<label>Nome: </label><strong class="f_dados"><%= @Results.last.user.nome%></strong><br />
	<label>E-mail: </label><strong class="f_dados"><%= @Results.last.user.email%></strong><br />
	<label>Status do Pedido: </label><strong class="f_dados"><%= traduz_status_do_pedido(@Results.last.status)%></strong><br />
	<label>Forma de Pagamento: </label><strong class="f_dados"><%= traduz_tipo_do_pagamento(@Results.last.payment_type)%></strong><br />	
	<label>CPF: </label><strong class="f_dados"><%= @Results.last.user.cpf%></strong><br />
	<label>RG: </label><strong class="f_dados"><%= @Results.last.user.rg%></strong><br />		
	<br />
	<br />
	<% if (@Results.last.status == "completed") || (@Results.last.status == "approved")%>
	<%= link_to "Reenviar email", "/admin/searchs/resend?cod="+ @Results.first.id.to_s%>
	<% end %>
	<table border="1" align="center">
		<tr>
		    <th width="150px">Quantidade</th>
		    <th width="150px">Dia</th>
		    <th width="150px">Total</th>
		    <th width="200px">Tipo</th>
	  </tr>
	<% @Results_itens.each do |item| %>
		<tr <%="bgcolor='Red'" if item.baixa?%>>
			<td align="center"><%= item.amount %></td>
			<td align="center">
				<%= item.ticket.ticket_date.strftime("%d") %><br/>
				<%= I18n.localize(item.ticket.ticket_date, :format => "%A") %>
			</td align="center">
			<td align="center"><%=number_with_delimiter(item.price * item.amount)%></td>
			<td align="center"><%= item.ticket.ticket_type.name %></td>
			<td align="center"><%=link_to("Dar baixa", baixa_admin_search_path(item)) if !item.baixa?%></td>
		</tr>
	<%end%>
	</table>
	<br />
	<%= link_to "Voltar", request.env['HTTP_REFERER'] %>
<%else%>
	<h2>Nenhum registro foi localizado!</h2><br/>
	<%= link_to "Voltar", request.env['HTTP_REFERER'] %>
<%end%>