<%content_for :head do%>
	<script>
	var htmlold = "";

	jQuery(document).ready(function($){
	    $("#botao").click(function(){
	        $("#cnpj").valida({
	            tipo:"cnpj",
	            erro : function(txtErro){
	                alert("Ocorreu um erro: "+txtErro);
	            },
	            sucesso: function(){
	                alert("Campo é um CNPJ de verdade");
	            }
	        });
	    });
	});


	function check_text_onfocus(obj)
	{
	    if(obj.value == obj.defaultValue)
	        obj.value = '';
	}
	function check_text_onblur(obj)
	{
	    if(obj.value=='')
	        obj.value = obj.defaultValue;
	}	

	function clearfield(x, text)
	{
		if($(x).getValue() == text)
		{
			//alert("LIMPAR");
			$(x).setValue("")
			//$(x).getValue(text);
		}
		else if($(x).getValue() == '')
		{
			$(x).setValue(text)
		}
	}

	function novoConteudo(){
		htmlold = $('BoxContent').innerHTML;
		new Ajax.Request('/password_resets/new',
		  {
		    method:'get',
			onLoading: function (mostrarLoading){
				$('loading-forgot').show();
			},
			onLoaded: function (mostrarResposta){
				$('loading-forgot').hide();
			},
		    onSuccess: function(transport){
		      var response = transport.responseText || "Falha";
		      //alert("Success! \n\n" + response);
			$('BoxContent').update(response); 
		    },
		    onFailure: function(){ alert('Falha ao carregar a página!') }
		  })
	}

	function voltaConteudo(){
		htmlold = "";
		$('BoxContent').update(htmlold); 
	}
	
	
	
	</script>
<%end%>
<div id="BgHome">
    <div id="Search">

    </div>

<div id="MainContent">
	<div style="margin:auto;width:680px;">
	<!--BOX LOGIN -->
	<div id="BoxCadastro" class="floatLeft">
		<div id="Titulo">
			<%=image_tag("tit_home_cadastrado.jpg")%>
		</div>
		<div id="BoxContent">
			<%=image_tag("box_linha.gif" , :style => "margin:18px 0px 18px 0px;")%>
			
			<%= form_for @user_session do |f| %>
			  <%if flash[:error]%>
			  	<%= content_tag :div, flash[:error], :id => "flash_error" %>
			  <%end%>
			  <p>
			    <%= f.text_field :email, :value => "Nome", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %>
			  </p>
			  <p>
			    <%= f.password_field :password, :value => "Senha", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %>
			  </p>
			  <p>
				<%=image_submit_tag("btn_entrar.jpg", :class => "Botao")%>
			  </p>
			<% end %>
			<%= image_tag "loading.gif", :style => 'display:none;', :id => 'loading-forgot' %>
			<p class="EsqueciSenha">
				<%= link_to "esqueci a senha", "#", :onclick=>"novoConteudo()" %>
			</p>
		</div>
		<div id="BoxCadastro_Footer">
			<%=image_tag("box_cadastro_bottom.jpg")%>
		</div>
	</div>
	
	<!--BOX CADASTRO -->
	<div id="BoxCadastro" style="margin-left:46px;" class="floatRight">
		<div id="Titulo">
			<%=image_tag("tit_home_n_cadastrado.jpg")%>
		</div>
		<div id="BoxContent">
			<div id="ajax_cadastro">	
				<%= form_for @user, :remote => true do |f| %>
				  <%#if flash[:error_cadastro]%>
				  	<%#= content_tag :div, flash[:error_cadastro], :id => "flash_error_cadastro" %>
				  <%#end%>
				   <div id="flash_error_cadastro" style="display:none;"></div>
					
					<label style="float:left; color:Grey; padding-left:3px;">Nome:<br /></label>
					<p>
					
					    <%= f.text_field :nome, :value => "Nome", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">E-Mail:<br /></label>
					<p>
					    <%= f.text_field :email, :value => "E-Mail", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">Senha:<br /></label>
					<p>
					    <%= f.password_field :password, :value => "Senha", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">Confirme a senha:<br /></label>
						<p>
					    <%= f.password_field :password_confirmation, :class => "Form Align_ie7" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">CPF:<br /></label>
					<p>
					    <%= f.text_field :cpf, :value => "CPF", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">RG:<br /></label>
					<p>
					    <%= f.text_field :rg, :value => "RG", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">Cidade:<br /></label>
					<p>
					    <%= f.text_field :cidade, :value => "Cidade", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<label style="float:left; color:Grey; padding-left:3px;">Estado:<br /></label>
					<p>
					    <%= f.text_field :estado, :value => "Estado", :class => "Form Align_ie7", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)" %><br /><br />
					  </p>
					<br />
				    <p class="treze">
						<%= f.check_box :receber_info, :checked => true%>  Desejo receber informativos da Festa de <br />
						Flores e Morangos de Atibaia <br />
						em meu e-mail.
					</p>
					  <p>
						<%=image_submit_tag("btn_cadastrar.jpg", :class => "Botao")%>
					  </p>
			  
				<div id="cadastro_loading" style="display:none;">
					<%=image_tag("loading.gif")%>
				</div>
				<% end %>
			</div>
		</div>
		<div id="BoxCadastro_Footer">
			<%=image_tag("box_cadastro_bottom.jpg")%>
		</div>
	</div>
	</div>
</div>
</div>
