<% title "Tickets" %>

<table>
  <tr>
    <th>Name</th>
    <th>Ticket Date</th>
    <th>Price</th>
    <th>Ticket Type</th>
    <th>Category</th>
    <th>Published</th>
  </tr>
  <% for ticket in @tickets %>
    <tr>
      <td><%= ticket.name %></td>
      <td><%= ticket.ticket_date %></td>
      <td><%= number_to_currency(ticket.price) %></td>
      <td><%= ticket.ticket_type.name %></td>
      <td><%= ticket.category.name %></td>
      <td><%= ticket.published %></td>
      <td><%= link_to "Show", admin_ticket_path(ticket) %></td>
      <td><%= link_to "Edit", edit_admin_ticket_path(ticket) %></td>
      <td><%= link_to "Destroy", admin_ticket_path(ticket), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ticket", new_admin_ticket_path %></p>
