<% title "Resultado da Busca por: #{params[:keyword]}" %>

<table>
  <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>RG</th>
	<th>Email</th>
  </tr>
  	<%@Results.each do |user| %>
    <tr>
      <td><%= user.nome %></td>
      <td><%= user.cpf %></td>
	  <td><%= user.rg %></td>
      <td><%= user.email%></td>
      <td><%= link_to "Show", admin_user_path(user) %></td>
      <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
      <td><%= link_to "Destroy", admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
	  <td><%= link_to "Verificar Ingressos!", admin_search_path(user) %></td>
    </tr>
  <% end %>
</table>
<br><br>
<%=link_to "Voltar", admin_users_path%>
